{% extends "base.html" %}
{% block title %}Создать новый пост{% endblock %}
{% block content %}
{# загружаем фильтр #}
{% load user_filters %}

<main role="main" class="container">
    <div class="row">
        {% for post in page %}
            <div class="col-md-3 mb-3 mt-1">
                    {% include "includes/author_card.html" %}
            </div>
            <div class="col-md-9">
                {% include "includes/post_card.html" %}
            </div>
        {% endfor %}
        {% include "paginator.html" %}
    </div>
</main>
{% endblock content %}